/* 404 css */
* {
  box-sizing: border-box;
  font-family: "inherit",sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.inner {
  margin: auto;
  max-width: 1300px;
  padding: 0 40px;
}

/* navbar css */

.navbar {
  background: transparent;
  padding: 30px 0;
  position: fixed;
  text-shadow: 4px 4px 2px black;
  top: 0;
  transition: .3s linear;
  width: 100%;
  z-index: 10;
}

.navbar .inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 3px 3px 2px black;
}

.toggle-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  position: relative;
  width: 30px;
  z-index: 10;
}

.toggle-menu span {
  background: white;
  display: block;
  height: 3px;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover {
  text-shadow: 0 0 .65px black, 0 0 .65px black;
}

.sticky {
  background: white;
  padding: 18px 0;
}

.sticky .logo {
  color: black;
  text-shadow: 2px 2px 2px grey;
}

.sticky .navbar-menu a {
  color: black;
  text-shadow: 2.5px 2.5px 2px grey;
}

.sticky .navbar-menu a:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.sticky .toggle-menu span {
  background: black;
}

/* home css */

#home {
  background: url(../img/lightwood.jpg) no-repeat center;
  background: cover fixed;
  filter: hue-rotate(140deg);
  height: 100vh;
  min-height: 500px;
  opacity: .7;
}

#home .inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

/* content css */

.face {
  height: 150px;
  margin: 0 auto;
  width: 150px;
}

.face:hover #before,
#after {
  display: none;
}

.face:hover #after {
  display: inline;
}

i {
  color: white;
  font-size: 150px;
  text-shadow: 2.5px 2.5px 2px black;
}

h1 {
  color: white;
  font-size: 70px;
  text-shadow: 2.5px 2.5px 2px black;
}

p {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 25px 0;
  text-shadow: 2.5px 2.5px 2px black;
}

/* footer css */

footer {
  filter: hue-rotate(140deg);
  opacity: .7;
}


@media screen and (max-width: 980px) {
  .logo {
    font-size: 20px;
  }

  .toggle-menu {
    display: block;
  }

  .navbar-menu {
    background: url(../img/wood.jpg);
    filter: hue-rotate(140deg);
    height: 100vh;
    max-width: 400px;
    padding: 80px 50px;
    position: fixed;
    right: -100%;
    top: 0;
    transition: .3s linear;
    width: 100%;
  }

  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
    text-shadow: none;
  }

  .sticky .navbar-menu a {
    color: white;
    text-shadow: none;
  }

  .navbar-menu.active {
    right: 0;
  }

  .toggle-menu.active span:nth-child(1) {
    background: white;
    top: 4px;
    transform: rotate(-45deg);
  }

  .toggle-menu.active span:nth-child(2) {
    background: white;
    opacity: 0;
  }

  .toggle-menu.active span:nth-child(3) {
    background: white;
    bottom: 14px;
    transform: rotate(45deg);
  }

  .inner {
    max-width: 800px;
  }
}

@media screen and (max-width: 600px) {
  .inner {
    padding: 0 20px;
  }
}
