/* works css */
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work {
  border-radius: 6px;
  cursor: pointer;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
  width: calc(33% - 10px);
}

.work img {
  margin: 0 auto;
  transition: .4s linear;
  width: 100%;
}

.works a {
  align-items: center;
  background: white;
  display: flex;
  margin: 0 auto;
}

.work video {
  transition: .4s linear;
  width: 100%;
}

.work::before {
  background: white;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transition: .2s linear;
  width: 100%;
  z-index: 1;
}

.work .info {
  bottom: 25px;
  color: black;
  font-size: 20px;
  margin-left: 10px;
  opacity: 0;
  position: absolute;
  transition: .4s linear;
  width: calc(100% - 10px);
  z-index: 2;
}

.caution {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.work:hover img {
  transform: scale(1.4);
}

.work:hover video {
  transform: scale(1.4);
}

.work:hover .info {
  opacity: 1;
}

.work:hover::before {
  opacity: .7;
  transform: scale(1);
}
